# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Uploads
uploads/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sql
*.db

# Windows reserved files
nul



